{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
{% endblock %}

{% block extra_js %}
	<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
{% endblock %}

{% block body_class %}caso{% endblock %}

{% block cuerpo %}
			
	<div class="col-lg-9">
		<h1>{{caso.nombre}} {{caso.apellido}}</h1>

		<h2>Imputados</h2>
		<p>{{caso.imputados}}</p>
		<h2>Circunstancias</h2>
		<p>{{caso.circunstancias}}</p>
		<h2>Situación Procesal</h2>
		<p>{{caso.situacion_procesal}}</p>
	</div>
		

{% endblock %}


{% block opciones %}

{% endblock %}