<header>
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Archivo de Casos de Personas Asesinadas por el Aparato Represivo Estatal en Democracia</a>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Que es el archivo</a></li>
				<li><a href="#">Sumate</a></li>
			</ul>
		</div>
	</nav>
</header>