<header>
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="{{STATIC_URL}}img/silueta-logo.png">
				<span class="logo">Archivo de Casos</span>
				<span class="logo2">de Personas Asesinadas por el Aparato<br>Represivo Estatal en Democracia</span>
				
			</a>

			

			<ul class="nav navbar-nav">
				<li><a href="/archivo/mapa/">Muestra Territorial</a></li>
				<li><a href="/archivo/los-muertos-de-2001/">Los muertos de 2001</a></li>
				<li><a href="/archivo/que-es/">Qué es el archivo</a></li>
				<li><a href="/archivo/sumate/">Sumate</a></li>
			</ul>

			<form class="navbar-form navbar-left" role="search" action="/archivo/buscar/">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Buscar Persona" name="q" value="{{request.GET.q}}">
				</div>
				<button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span></button>
		    </form>

		</div>
	</nav>
</header>