{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
{% endblock %}

{% block extra_js %}
	<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="{{STATIC_URL}}js/libs/leaflet.markercluster-src.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/mapa.js" type="text/javascript"></script>
{% endblock %}

{% block body_class %}mapa{% endblock %}

{% block cuerpo %}			
	<div class="col-lg-9 col-md-9 col-sm-9">
		{% for caso in casos %}
			{{caso.id}}
			{{caso.coordenadas}}
		{% endfor %}


		<div id="mapa"></div>
		<div class="firma">
			<a href="http://correpi.lahaine.org" target="_blank">
				<img src="{{STATIC_URL}}img/correpi-ena.png">
			</a>

			<a href="http://cedp.info" target="_blank">
				<img src="{{STATIC_URL}}img/logo-ji.png">
			</a>
		</div>
	</div>
{% endblock %}


{% block opciones %}
    <div class="col-lg-3 col-md-3 col-sm-3 opciones">
        <div class="destacado">
            <h2>Filtros de datos</h2>
            <small>Filtrar datos del archivo mediante estas variables</small>
        </div>

        <div class="filtros">
            <h3>Periodo (desde - hasta)</h3>
            <div class="btn-group desde">
                <button id="desde" value="2012" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                    2012 <b class="caret"></b>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1983">1983</a></li>
                <li><a val="1984">1984</a></li>
                <li><a val="1985">1985</a></li>
                <li><a val="1986">1986</a></li>
                <li><a val="1987">1987</a></li>
                <li><a val="1988">1988</a></li>
                <li><a val="1989">1989</a></li>
                <li><a val="1990">1990</a></li>
                <li><a val="1991">1991</a></li>
                <li><a val="1992">1992</a></li>
                <li><a val="1993">1993</a></li>
                <li><a val="1994">1994</a></li>
                <li><a val="1995">1995</a></li>
                <li><a val="1996">1996</a></li>
                <li><a val="1997">1997</a></li>
                <li><a val="1998">1998</a></li>
                <li><a val="1999">1999</a></li>
                <li><a val="2000">2000</a></li>
                <li><a val="2001">2001</a></li>
                <li><a val="2002">2002</a></li>
                <li><a val="2003">2003</a></li>
                <li><a val="2004">2004</a></li>
                <li><a val="2005">2005</a></li>
                <li><a val="2006">2006</a></li>
                <li><a val="2007">2007</a></li>
                <li><a val="2008">2008</a></li>
                <li><a val="2009">2009</a></li>
                <li><a val="2010">2010</a></li>
                <li><a val="2011">2011</a></li>
                <li><a val="2012">2012</a></li>
                <li><a val="2013">2013</a></li>
              </ul>
            </div>
            
            <div class="btn-group hasta">
                <button id="hasta" value="2013" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                    2013 <b class="caret"></b>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1983">1983</a></li>
                <li><a val="1984">1984</a></li>
                <li><a val="1985">1985</a></li>
                <li><a val="1986">1986</a></li>
                <li><a val="1987">1987</a></li>
                <li><a val="1988">1988</a></li>
                <li><a val="1989">1989</a></li>
                <li><a val="1990">1990</a></li>
                <li><a val="1991">1991</a></li>
                <li><a val="1992">1992</a></li>
                <li><a val="1993">1993</a></li>
                <li><a val="1994">1994</a></li>
                <li><a val="1995">1995</a></li>
                <li><a val="1996">1996</a></li>
                <li><a val="1997">1997</a></li>
                <li><a val="1998">1998</a></li>
                <li><a val="1999">1999</a></li>
                <li><a val="2000">2000</a></li>
                <li><a val="2001">2001</a></li>
                <li><a val="2002">2002</a></li>
                <li><a val="2003">2003</a></li>
                <li><a val="2004">2004</a></li>
                <li><a val="2005">2005</a></li>
                <li><a val="2006">2006</a></li>
                <li><a val="2007">2007</a></li>
                <li><a val="2008">2008</a></li>
                <li><a val="2009">2009</a></li>
                <li><a val="2010">2010</a></li>
                <li><a val="2011">2011</a></li>
                <li><a val="2012">2012</a></li>
                <li><a val="2013">2013</a></li>
              </ul>
            </div>

            <h3>Provincia</h3>
            <div class="btn-group">
              <button id="provincia" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Todas <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                    <li><a val="Ciudad De Buenos Aires">Ciudad De Buenos Aires</a></li>
                    <li><a val="Buenos Aires">Buenos Aires</a></li>
                    <li><a val="Catamarca">Catamarca</a></li>
                    <li><a val="Cordoba">Córdoba</a></li>
                    <li><a val="Corrientes">Corrientes</a></li>
                    <li><a val="Chubut">Chubut</a></li>
                    <li><a val="Entre Rios">Entre Ríos</a></li>
                    <li><a val="Formosa">Formosa</a></li>
                    <li><a val="Jujuy">Jujuy</a></li>
                    <li><a val="La Pampa">La Pampa</a></li>
                    <li><a val="La Rioja">La Rioja</a></li>
                    <li><a val="Mendoza">Mendoza</a></li>
                    <li><a val="Misiones">Misiones</a></li>
                    <li><a val="Neuquen">Neuquén</a></li>
                    <li><a val="Rio Negro">Río Negro</a></li>
                    <li><a val="Salta">Salta</a></li>
                    <li><a val="San Juan">San Juan</a></li>
                    <li><a val="San Luis">San Luis</a></li>
                    <li><a val="Santa Cruz">Santa Cruz</a></li>
                    <li><a val="Santa Fe">Santa Fe</a></li>
                    <li><a val="Santiago Del Estero">Santiago del Estero</a></li>
                    <li><a val="Tierra Del Fuego">Tierra del Fuego</a></li>
                    <li><a val="Tucuman">Tucumán</a></li>
                    <li class="divider"></li>
                    <li><a val="">Todas</a></li>
              </ul>
            </div>
            
            <h3>Edad</h3>
            <div class="btn-group">
              <button id="tipo-edad" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Todas las edades<span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">Menor de 14 Años</a></li>
                <li><a val="2">De 14 a 25 Años</a></li>
                <li><a val="3">De 26 a 35 Años</a></li>
                <li><a val="4">De 36 a 45 años</a></li>
                <li><a val="5">Mayor de 45 Años</a></li>
                <li class="divider"></li>
                <li><a val="">Todas las edades</a></li>
              </ul>
            </div>
        
            <h3>Sexo</h3>
            <div class="btn-group">
              <button id="sexo" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Ambos <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="V">Masculino</a></li>
                <li><a val="M">Femenino</a></li>
                <li class="divider"></li>
                <li><a val="">Ambos</a></li>
              </ul>
            </div>
        
            <h3>Fuerza Represiva</h3>
            <div class="btn-group">
              <button id="fuerza" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Todas las fuerzas<span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">Policia Federal</a></li>
                <li><a val="2">Policias Provinciales</a></li>
                <li><a val="3">Servicio Penitenciario</a></li>
                <li><a val="4">Prefectura Naval</a></li>
                <li><a val="5">Gendarmeria Nacional</a></li>
                <li><a val="6">Otras Fuerzas</a></li>
                <li><a val="7">Seguridad Privada</a></li>
                <li><a val="8">Policia Metropolitana</a></li>
                <li class="divider"></li>
                <li><a val="">Todas las fuerzas</a></li>
              </ul>
            </div>
        
            
        </div>
        
        <div class="destacado">
            <h3>Mostrando Actualmente</h3>
            <p>Cantidad de casos mostrados: <b id="cantidad-casos"></b></p>
        </div>

        <div id="loading">
            <h2>Cargando Casos...</h2>
            <img src="{{STATIC_URL}}img/loading.gif"/>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}