{% extends "base.html" %}

{% block title %}Sumate a construir el archivo con nosotros{% endblock %}
{% block description %}Sumate a construir el archivo de personas asesinadas por el aparato represivo estatal.{% endblock %}

{% block body_class %}{% endblock %}

{% block cuerpo %}
    <div class="col-lg-6 col-lg-offset-3">
        
        <h1>Sumate a construir el archivo</h1>
        
        <p>La necesidad, en nuestra militancia cotidiana, de mostrar lo invisibilizado y naturalizado de la represión, motivó a CORREPI a intentar, a partir de 1996, la sistematización de los datos disponibles sobre personas asesinadas por el aparato represivo estatal.
Con estos datos, nos proponemos mostrar que el alcance y la extensión de la represión que padece el pueblo, responde a una política de estado. Un estado dividido en clases, que necesita de la explotación de la amplia mayoría del pueblo por una reducida minoría, y que, para poder garantizarla, inevitablemente hace uso de la violencia y la represión. 
Nuestro Archivo no es un pulido y perfecto trabajo estadístico por muchos motivos. El fundamental es que, a pesar de que perfeccionamos cada año los mecanismos de búsqueda y procesamiento de datos, la creciente invisibilización de los episodios represivos, especialmente los que afectan a los sectores sociales más vulnerables, hace que no lleguemos a conocer infinidad de casos. Hay provincias enteras de las que sólo contamos, como fuente, con lo poco que trasciende en los medios de comunicación a nuestro alcance. Se percibe, en cambio, la diferente calidad de información de que disponemos en las regiones donde hay activa militancia antirrepresiva, como sucede donde funcionan la organizaciones que, junto a CORREPI, integran el ENA (Encuentro Nacional Antirrepresivo) . Por eso, convocamos a todo el que lea el Archivo a revisar los datos, completarlos, corregirlos y aportarnos la información que falta.</p>

        
        <h1>Quienes estamos construyendolo?</h1>        
        
        
        
    </div>
{% endblock %}