{% extends "base.html" %}

{% block title %}Sumate a construir el archivo con nosotros{% endblock %}
{% block description %}Sumate a construir el archivo de personas asesinadas por el aparato represivo estatal.{% endblock %}

{% block body_class %}{% endblock %}

{% block cuerpo %}
    <div class="col-lg-6 col-lg-offset-3">
        
        <h1>Sumate a construir el archivo</h1>

        <p>La visualización de datos del archivo de casos es un proyecto abierto al que te podés sumar a participar. Podés colaborar de muchas maneras: aportando datos de los casos (como fotos, videos, recortes periodísticos), diseñando, programando, difundiendo y compartiendo el proyecto.</p>

		<p>Si querés participar en la elaboración de este archivo en internet y otras iniciativas militantes escribinos a:
		<b>juv.insurgente@gmail.com</b> o a <a href="https://www.facebook.com/Juventud-Insurgente-1572848376291646/?fref=ts" target="_blank">Facebook Juventud Insurgente</a></p>	

		<p>Si conocés casos de gatillo fácil o violencia del estado en tu barrio y querés hacer algo contra eso escribinos:
		<b>correpi@fibertel.com.ar</b> o a <a href="https://www.facebook.com/correpi" target="_blank">https://www.facebook.com/correpi</a></p>

		<p>Podés encontrar el código del proyecto en: <a href="https://bitbucket.org/corrienteedp/archivo-de-casos" target="_blank">https://bitbucket.org/corrienteedp/archivo-de-casos</a></p>

        <h1>Quienes estamos construyendolo?</h1>   
        <h3>Insurgencia Arte y Lucha</h3>
        <p>Insurgencia Arte y Lucha es un espacio en donde nos valemos de distintas disciplinas para intervenir en las luchas del campo popular a través de las herramientas artísticas y comunicacionales que manejamos. Creemos que estas son poderosas herramientas y nuestra búsqueda es ponerlas al servicio de la organización del pueblo y sus luchas para aportar en su reivindicación simbólica e ideológica, aportar en su difusión y generar un discurso contra-cultural.</p>
        <a href="http://insurgencia.com.ar" target="_blank">http://insurgencia.com.ar</a>

        <h3>Juventud Insurgente</h3>
        <p>Somos una corriente estudiantil y juvenil con construcción nacional que se define políticamente como clasista, anticapitalista, antipatriarcal y antiburocrática; y son estas características las que guían nuestra construcción. Como principal objetivo nos proponemos construir una juventud militante que siendo parte del pueblo trabajador, cumpla un rol activo en todas sus luchas.</p>
        <a href="http://juventudinsurgente.org" target="_blank">http://juventudinsurgente.org</a>

        <h3>CORREPI</h3>
        <p>CORREPI – Coordinadora Contra la Represión Policial e Institucional – es una organización política que activa en el campo de los Derechos Humanos, al servicio de la clase trabajadora y el pueblo, con especificidad frente a las políticas represivas del estado. Entendemos que todo estado que represente y defienda los intereses de la clase dominante sobre las mayorías oprimidas, deberá ejercer la represión, sea por la forma abierta de la coerción o por la más sutil de la imposición de consenso. Es nuestro objetivo, a través de variadas herramientas, caracterizar, denunciar y combatir esas políticas represivas, poniendo en evidencia su carácter esencial e inherente al sistema capitalista.</p>
        <a href="http://correpi.lahaine.org" target="_blank">http://correpi.lahaine.org</a>
        
    </div>
{% endblock %}