.buscar{

	h2{
		margin-bottom: 30px;
	}

	.caso{
		border-bottom: 1px dashed #aaa;
		padding-bottom: 10px;
		margin-top: 10px;

		h2{
			margin: 0px!important;
			padding: 0px!important;
			margin-bottom: 20px;
		}

		p{
			margin: 0;
			margin-bottom: 10px;
		}

		small{
			margin: 0;
		}


		.icono-sexo{
			float: left;
			margin-right: 20px;
		}

	}
}