.buscar .caso{border-bottom:1px dashed #aaa;padding-bottom:10px;margin-top:10px}.buscar .caso h2{margin:0 !important;padding:0 !important}
.buscar .caso p{margin:0}
.buscar .caso small{margin:0}
.buscar .caso .icono-sexo{float:left;margin-right:20px}
