.mapa{
	.col-lg-9{
		padding: 0;
	}
	.container{
		height: 100%;
	}
}

#mapa{
	width: 400px;
	height: 400px;
}

.firma{
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;

	img{
		margin-left: 20px;
	}
}

.caso-popup{
	cursor: pointer;
	font-family: 'bebas';
	font-size: 2rem;
}


.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
	-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
	transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

.leaflet-div-icon{
	border: 0px transparent!important;
	background-color: transparent!important;
	font-size: 15px;
}