.opciones{height:100%}.opciones h3{font-family:'Bebas';margin-top:10px;margin-bottom:3px}
.opciones .btn-group{width:100%}.opciones .btn-group .dropdown-toggle{width:100%;text-align:left}
.opciones .desde,.opciones .hasta{width:47% !important}
.opciones .desde{margin-right:4%}
.opciones .destacado{background-color:#eee;padding:5px;padding-left:15px;padding-right:15px;margin-left:-15px;margin-right:-15px}.opciones .destacado h2,.opciones .destacado h3,.opciones .destacado p{margin:0}
.opciones .filtros{margin-top:20px;margin-bottom:20px}
.opciones .dropdown-menu>li>a{padding:0 20px;font-size:1.2rem;cursor:pointer}
.opciones #loading{display:none;position:absolute;top:0;height:100%;width:100%;background-color:rgba(0,0,0,0.7);text-align:center;margin-left:-15px}.opciones #loading h2{font-family:'Bebas';color:#fff;margin-top:150px}
.opciones #loading img{width:70px}
