.opciones{height:100%}.opciones h3{font-family:'Bebas';margin-top:10px;margin-bottom:3px}
.opciones .btn-group{width:100%}.opciones .btn-group .dropdown-toggle{width:100%;text-align:left}
.opciones .desde,.opciones .hasta{width:47% !important}
.opciones .desde{margin-right:4%}
.opciones .destacado{background-color:#eee;padding:5px;padding-left:15px;padding-right:15px;margin-left:-15px;margin-right:-15px}.opciones .destacado h2,.opciones .destacado h3,.opciones .destacado p{margin:0}
.opciones .filtros{margin-top:20px;margin-bottom:20px}
.opciones .dropdown-menu>li>a{padding:0 20px;font-size:1.2rem;cursor:pointer}
